<!DOCTYPE html>
<html>
<head>
    <meta charset="TIS-620">
    <!--<meta charset="Windows-874">-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>


    <script>

        window.location.href = "index.html";

    </script>
</head>
<body>

    <div data-role="page" data-title="OE-In (PettyCash)" class="jqm-demos ui-responsive-panel">

        <div data-role="header" data-position="fixed" data-theme="a">
            <!-- <a href="../toolbar/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>-->

            <h1>Anda-Stock</h1>
            <a class="menu" data-icon="grid" data-iconpos="notext">Menu</a>
            <a class="setting" data-icon="gear" data-iconpos="notext">Add</a>

            <div data-role="navbar">
                <ul>
                    <li><a data-value="importProduct" class="ui-btn-active">Create</a></li>
                    <li><a data-value="editImportProduct">Edit</a></li>
                </ul>
            </div>
        </div>

        <!-- /header -->
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
            <div class="importProduct importProductNav">

                <div class="ui-grid-a ui-responsive">
                    <div class="ui-block-a">
                        <div data-role="fieldcontain">
                            <label for="select-stock">Store Name</label>
                            <select name="select-stock" class="select-stock" data-mini="true" data-native-menu="true">
                            </select>
                        </div>
                        <div data-role="fieldcontain">
                            <label for="select-supplier2">Supplier Code</label>
                            <select name="select-supplier2" class="select-supplier-in" data-mini="true" data-native-menu="true">
                            </select>
                        </div>
                        <a data-rel="popup" data-position-to="window" class="SelectProductPopUpButton ui-btn ui-icon-search ui-btn-icon-left  ui-corner-all" data-transition="pop">Product Selecting</a>
                    </div>
                    <div id="PettyCashForm" class="ui-block-b" style="padding-left: 30px;">
                        <div data-role="fieldcontain">
                            <label id="PettyCashBF">B/F: 0</label>
                            <label id="PettyCashBalance">Balance: 0</label>
                            <!--    <input type="text" data-wrapper-class="moneyAmount" id="BF" disabled="disabled" data-mini="true" value="0" />
                            <label for="BF">Balance: </label>
                            <input type="text" data-wrapper-class="moneyAmount" id="Text1" disabled="disabled" data-mini="true" value="0" />-->
                        </div>
                        <div data-role="fieldcontain">
                            <label>Adding Money: </label>
                            <input type="text" data-wrapper-class="moneyAmount" id="moneyAddAmount" data-mini="true" value=""  placeholder="0"/>
                            <input data-wrapper-class="chqueData" type="text" id="chqueData" data-mini="true" placeholder="Chq no./dd" />
                        </div>
                        <button class="ui-btn ui-icon-arrow-d ui-btn-icon-left  ui-corner-all" id="PrintFormButton">Print Form</button>
                    </div>
                    <!--   <div class="ui-block-c">
                          <label for="bill-date">bill-date</label>
                          <input id="Text1" name="bill-date" type="text" data-type="startTime">
                    </div>-->

                </div>
                <!--<button class="ui-btn ui-icon-search ui-btn-icon-left  ui-corner-all">เลือกสินค้า</button>-->


                <label id="sum-amount-label">All Amount: 0฿</label>
                <div id="popupImportProduct"></div>

                <button class="ClearNewProductRow ui-btn ui-icon-delete ui-btn-icon-left  ui-corner-all">Clear Table</button>
                <button class="SaveImportProduct ui-btn ui-icon-action ui-btn-icon-left  ui-corner-all">Save</button>

            </div>

            <div data-role="popup" id="popupSelectProduct" data-theme="a" class="ui-corner-all" data-overlay-theme="b">
                <form>
                    <div style="padding: 10px 20px; width: auto">

                        <a data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>

                        <h3>Select Product</h3>
                        <!--<input type="search" data-theme="a" name="searchbar" class="select_product_search" data-mini="true" value="" placeholder="search by code or name" data-inline="true" autocapitalize="none" autocomplete="off">-->
                        <input data-theme="a" class="select_product_search" data-mini="true" value="" placeholder="search by code or name" data-inline="true" autocapitalize="none" autocomplete="off">


                        <!-- <label for="un" class="ui-hidden-accessible">Username:</label>
                            <input type="text" name="user" id="un" value="" placeholder="username" data-theme="a">
                            <label for="pw" class="ui-hidden-accessible">Password:</label>
                            <input type="password" name="pass" id="pw" value="" placeholder="password" data-theme="a">-->
                        <!--<button class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-btn-icon-left ui-icon-check">Sign in</button>-->
                        <div class="select-result" style="height: 350px; width: 600px; overflow: auto;"></div>

                        <div class="ui-grid-a ui-responsive">
                            <div class="ui-block-a">
                                <a href="#" class="cancelClick ui-btn ui-corner-all ui-shadow ui-btn-a" data-rel="back">Cancel</a>
                            </div>

                            <div class="ui-block-b">
                                <a href="#" class="selectClick ui-btn ui-corner-all ui-shadow ui-btn-a" data-rel="back" data-transition="flow">Select</a>
                            </div>

                        </div>

                    </div>
                </form>
            </div>


            <div class="editImportProduct importProductNav" style="display: none">
                <div class="SelectTimePeriod ui-grid-a ui-responsive">
                    <div class="ui-block-c">
                        <select name="select-time" class="select-time-type" data-mini="true" data-native-menu="true">

                            <option value="oneMonthPeriod">Month</option>
                            <option value="oneYearPeriod">Year</option>
                            <option value="last">Back Date</option>
                            <option value="custom">Define</option>
                        </select>
                    </div>
                    <div class="ui-block-c select-time-div">
                        <select name="select-time" class="select-time" data-mini="true" data-native-menu="true"></select>
                    </div>
                    <div class="ui-block-c">
                        <input id="startTime" type="text" data-type="startTime">
                    </div>
                    <div class="ui-block-c">
                        <label>&nbsp;&nbsp;to&nbsp;&nbsp; </label>
                        &nbsp;
                    </div>
                    <div class="ui-block-c">
                        <input id="endTime" type="text" data-type="endTime">
                    </div>

                </div>

                <div class="ui-grid-b ui-responsive">
                    <div class="ui-block-a">
                        <div>
                            <label for="select-stock">Store Name</label>
                            <select name="select-stock" class="select-stock" data-mini="true" data-native-menu="true">
                            </select>
                        </div>
                    </div>
                    <div class="ui-block-b div-select-supplier-in-edit">
                        <label for="select-supplier2">Supplier Code</label>
                        <select name="select-supplier2" class="select-supplier-in-edit" data-mini="true" data-native-menu="true">
                        </select>
                    </div>
                    <div class="ui-block-c">
                        <label for="select-supplier2">Bill Number</label>
                        <input type="search" data-theme="a" name="searchbar" class="import_product_search" data-mini="true" value="" placeholder="search by Bill Number" data-inline="true">
                    </div>

                </div>

                <!--<input type="search" data-theme="a" name="searchbar" class="show_product_search" data-mini="true" value="" placeholder="search by code or name" data-inline="true">-->

                <table id="fooBar" class="StockTable" border="0" style='text-align: justify;'>

                    <col width="80px" />
                    <!--  <col width="100px" />-->
                    <col />
                    <col />
                    <col width="120px" />
                    <col width="110px" />
                    <col width="80px" />
                    <col width="110px" />

                    <tbody>
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                            <!--<th>ชื่อ</th>
                            <th>หน่วย</th>-->
                            <!--<th>Supplier</th>-->

                            <th>Bill Number</th>
                            <th>Bill Date</th>
                            <th>Price/Unit</th>
                            <th>Unit-In</th>
                            <th>Amount</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <!-- <td style="padding: 9px 4px;"><%- unit_type %></td>
                                      <td style="padding: 9px 4px;"><%- name %></td>            
                             -->
                        <script type="text/template" id="ShowTable-tr-template">

                            <td style="padding: 9px 4px;"><%- code %></td>
                            <td style="padding: 9px 4px;"><%- name %></td>

                            <!--   <td style="padding: 9px 4px;"><%- supplier_code %></td>-->

                            <td style="padding: 9px 4px;"><%- invoid_id %></td>
                            <td style="padding: 9px 4px;"><%- in_date %></td>
                            <td style="padding: 9px 4px;"><%- unit_price %></td>
                            <td style="padding: 9px 4px;"><%- unit %></td>
                            <td style="padding: 9px 4px;"><%- sum %></td>

                            <td>
                                <input type="button" class="editButton" data-mini="true" value="Edit"></td>
                            <td>
                                <input type="button" class="deleteButton" data-mini="true" value="Delete">
                            </td>
                        </script>
                        <script type="text/template" id="EditTable-tr-template">


                            <!--<td style="padding: 9px 4px;"><%- p.code %></td>-->
                            <td>
                                <input class="input" placeholder="code" data-type="code" value="<%- p.code %>" /></td>
                            <td style="padding: 9px 4px;" class="nameTd"><%- p.name %></td>

                            <!--  <td>
                                <select name="select-supplier" class="not_chosen" style="height: 100%; width: 100%; text-align: center;">

                                    <option value="">undefined</option>
                                    <% _(s).each(function(op) { 
                                      if(op==p.supplier_code){  %>
                                        <option value="<%= op %>" selected><%= op %></option>
                                    <%}else{%>
                                           <option value="<%= op %>"><%= op %></option>
                                    <%}}); %>
                                </select>
                            </td>-->


                            <td>
                                <input class="input" placeholder="Bill Number" data-type="invoid_id" value="<%- p.invoid_id %>" /></td>
                            <td>
                                <input class="input" placeholder="Bill Date" data-type="in_date" value="<%- p.in_date %>" /></td>
                            <td>
                                <input class="input" placeholder="Price/Unit" data-type="unit_price" value="<%- p.unit_price %>" /></td>
                            <td>
                                <input class="input" placeholder="Unit-In" data-type="unit" value="<%- p.unit %>" /></td>
                            <td>
                                <input class="input" placeholder="Amount" data-type="sum" value="<%- p.sum %>" /></td>
                            <td>
                                <input type="button" class="cancelEditButton button" data-mini="true" value="Cancel"></td>
                            <td>
                                <input type="button" class="saveButton button" data-mini="true" value="Save">
                            </td>

                        </script>

                    </tbody>
                </table>
            </div>

        </div>
        <!-- /content -->

        <div data-role="panel" data-display="push" data-theme="b" class="menu-panel">
            <h2><a href="index.html" data-transition="flow">HOME</a></h2>

            <ul data-role="listview">
                <li>
                    <a href="Supplier.html" data-menu="Supplier" data-transition="flow">Supplier-Create</a>
                </li>

                <li>
                    <a href="Stock.html" data-menu="Stock" data-transition="flow">Stock-Create</a>
                </li>
                <li>
                    <a href="OE.html" data-menu="OE" data-transition="flow">OE-Create</a>
                </li>


                <li>
                    <a href="ImportProducts.html" data-menu="Stock-In" data-transition="flow">Stock-In</a>
                </li>
                <li>
                    <a href="ImportOE.html" data-menu="OE-In" data-transition="flow">OE-In</a>
                </li>

                <li>
                    <a href="ImportProductsPettyCash.html" data-menu="Stock-In (PettyCash)" data-transition="flow">Stock-In (PettyCash)</a>
                </li>
                <li>
                    <a href="ImportOEPettyCash.html" data-menu="OE-In (PettyCash)" data-transition="flow">OE-In (PettyCash)</a>
                </li>
                <li>
                    <a href="ExportProducts.html" data-menu="Stock-Out" data-transition="flow">Stock-Out</a>
                </li>
                <li>
                    <a href="CheckProducts.html" data-menu="Stock-Checking" data-transition="flow">Stock-Checking</a>
                </li>
                <li>
                    <a href="Report.html" data-menu="Report" data-transition="flow">Report</a>
                </li>
            </ul>

        </div>
        <!-- /panel -->


        <div data-role="popup" id="popupSelectDate" data-theme="a" class="ui-corner-all" data-overlay-theme="b">
            <form>
                <div style="padding: 10px 20px; width: auto">

                    <a data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>

                    <h3>Select Date</h3>
                    <div class="ui-field-contain">
                        <label for="editStartDate">เริ่มต้น:</label>
                        <!--<textarea cols="40" rows="8" name="editStartTime" id="textarea-1">Textarea</textarea>-->
                        <input type="text" name="editStartDate" data-role="date" data-mini="true">
                    </div>
                    <div class="ui-field-contain">
                        <label for="editEndDate">สิ้นสุด:</label>
                        <!--<textarea cols="40" rows="8" name="editStartTime" id="textarea-1">Textarea</textarea>-->
                        <input type="text" name="editEndDate" data-role="date" data-mini="true">
                    </div>
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back">Cancel</a>
                    <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a" data-rel="back" data-transition="flow">Select</a>
                </div>
            </form>
        </div>

        <div data-role="popup" id="sure" data-title="Are you sure?">
            <div data-role="content">
                <h3 class="sure-1">???</h3>
                <p class="sure-2">???</p>
                <a href="#" class="sure-do" data-role="button" data-theme="b" data-rel="back">Yes</a>
                <a href="#" data-role="button" data-theme="c" data-rel="back">Cancel</a>
            </div>
        </div>


        <div data-role="panel" data-position="right" data-display="reveal" data-theme="a" class="setting-panel">

            <button class="LogInButton">Log In</button>
            <button class="LogOutButton">Log Out</button>
             <button class="SettingButton">Setting</button>

        </div>
        <!-- /panel -->


    </div>
    <!-- /page -->


</body>
</html>
