<!DOCTYPE html>
<html>

<head>
    <meta charset="TIS-620">
    <!--<meta charset="Windows-874">-->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/family.css" rel="stylesheet" />

    <link href="lib/jquery.mobile/jquery.mobile-1.4.5.min.css" rel="stylesheet" />
    <link href="css/jqm-demos.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />

    <script src="lib/underscore/underscore-min.js"></script>
    <script src="lib/lokijs/lokijs.min.js"></script>

    <script src="lib/jquery/jquery-2.1.1.min.js"></script>
    <script src="lib/jquery.mobile/jquery.mobile-1.4.5.js"></script>

    <script src="lib/backbone/backbone-min.js"></script>

    <script src="lib/xdr.js"></script>
    <script src="lib/socket.io-1.2.1.js"></script>

    <script src="lib/step/step.js"></script>
    <script src="lib/async/async.min.js"></script>

    <script src="NwLib/NwLib.js"></script>
    <script src="NwUtil/NwDataMsgObj.js"></script>

    <script src="NwConn/NwWsClient.js"></script>
    <script src="service_conn/NwServiceConn.js"></script>

    <script src="lib/jQuery-Plugin-For-Fixed-Table-Header-Footer-Columns-TableHeadFixer/tableHeadFixer.js"></script>

    <script src="lib/xlsx/xlsx.core.min.js"></script>
    <script src="lib/xlsx/Blob.js"></script>
    <script src="lib/xlsx/FileSaver.js"></script>
    <script src="lib/xlsx/NwXlsx.js"></script>

    <link href="lib/jqm-datebox/jqm-datebox.min.css" rel="stylesheet" />
    <script src="lib/jqm-datebox/jqm-datebox.core.min.js"></script>
    <script src="lib/jqm-datebox/jqm-datebox.mode.calbox.min.js"></script>

    <link href="lib/backgrid/lib/backgrid.css" rel="stylesheet" />
    <script src="lib/backgrid/lib/backgrid.js"></script>
    <link href="lib/backgrid-select-all-master/backgrid-select-all.min.css" rel="stylesheet" />
    <script src="lib/backgrid-select-all-master/backgrid-select-all.min.js"></script>

    <link rel="stylesheet" media="screen" href="lib/handsontable/handsontable.css">
    <link rel="stylesheet" media="screen" href="lib/handsontable/pikaday/pikaday.css">
    <script src="lib/handsontable/pikaday/pikaday.js"></script>
    <script src="lib/handsontable/moment/moment.js"></script>
    <script src="lib/handsontable/zeroclipboard/ZeroClipboard.js"></script>
    <script src="lib/handsontable/handsontable.js"></script>

    <!--<link rel="stylesheet" media="screen" href="lib/handsontable/css/samples.css?20140331">-->
    <link rel="stylesheet" href="lib/handsontable/css/font-awesome/css/font-awesome.min.css">


    <script src="app/models/product.js"></script>
    <script src="app/models/Stock.js"></script>
    <script src="app/models/ImportProductModel.js"></script>
    <script src="app/models/AddImportProductModel.js"></script>

    <!-- <script src="app/models/ExportProductModel.js"></script> -->
    <!-- <script src="app/models/CheckProductsModel.js"></script> -->
    <script src="app/models/UserModel.js"></script>
    <script src="app/models/PurchaseSessionModel.js"></script>

    <script src="app/collections/products.js"></script>
    <script src="app/collections/ImportProductCollection.js"></script>

    <!-- <script src="app/collections/ExportProductCollection.js"></script> -->
    <!-- <script src="app/collections/ReportCollection.js"></script> -->
    <!-- <script src="app/collections/CheckProductsCollection.js"></script> -->


    <script src="app/views/SelectTimePeriod.js"></script>

    <script src="app/view_purchase_session/PurchaseSession.js"></script>
    <script src="app/view_purchase_session/PurchaseSessionShow.js"></script>

    <script src="app/app.js"></script>

    <script src="app/app/PurchaseSessionApp.js"></script>

    <script>
        $(function () {
            app.initPurchaseSessionApp();
        })
    </script>

</head>

<body>

    <div data-role="page" data-title="PurchaseSummary" class="jqm-demos ui-responsive-panel">

        <div data-role="header" data-position="fixed" data-theme="a">
            <!-- <a href="../toolbar/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>-->

            <h1>Anda-Stock</h1>
            <!-- <div data-role="navbar">
                <ul>
                    <li><a data-value="importProduct" class="ui-btn-active">Create</a></li>
                    <li><a data-value="editImportProduct">Edit</a></li>
                </ul>
            </div> -->
        </div>

        <!-- /header -->
        <div role="main" class="ui-content jqm-content jqm-fullwidth">
            <div class="PurchaseSession">
                <div class="ui-grid-a ui-responsive">
                    <div class="ui-block-a">
                        <div class="SelectTimePeriod ui-grid-a ui-responsive">
                            <div class="ui-block-c">
                                <select name="select-time" class="select-time-type" data-mini="true" data-native-menu="true">
                    
                                                <option value="oneMonthPeriod">Month</option>
                                                <option value="oneYearPeriod">Year</option>
                                                <option value="last">Back Date</option>
                                                <option value="custom">Define</option>
                                            </select>
                            </div>
                            <div class="ui-block-c select-time-div">
                                <select name="select-time" class="select-time" data-mini="true" data-native-menu="true"></select>
                            </div>
                            <div class="ui-block-c">
                                <input id="startTime" type="text" data-type="startTime" style="width:100px">
                            </div>
                            <div class="ui-block-c">
                                <label>&nbsp;&nbsp;to&nbsp;&nbsp; </label> &nbsp;
                            </div>
                            <div class="ui-block-c">
                                <input id="endTime" type="text" data-type="endTime" style="width:100px">
                            </div>

                        </div>
                    </div>
                    <div class="ui-block-b">
                        <div data-role="fieldcontain">
                            <label>Purchase ID:</label>
                            <select name="select-sessionId" class="select-sessionId" data-mini="true" data-native-menu="true">
                                                <!--<option value="oneMonthPeriod">Month</option>-->
                                            </select>
                        </div>
                    </div>
                </div>

                <button class="ui-btn ui-icon-arrow-d ui-btn-icon-left  ui-corner-all" id="PrintFormButton">Print Form</button>
            </div>
           
           
            <!-- <div class="PurchaseSessionShow">


                <div data-role="fieldcontain">
                    <label>Purchase ID:</label>
                  
                    <label id="SessionId"></label>

                </div>
                <div data-role="fieldcontain">
                    <label>Payment Type:</label>
                    <label id="payment_type"></label>
                  
                </div>
                <div data-role="fieldcontain">
                    <label>By:</label>
                    <label id="userId"></label>
                  
                </div>
                <div id="PettyCashForm">

                    <div data-role="fieldcontain">
                        <label>Adding Money: </label>
                        <label id="moneyAddAmount"></label>

                    </div>
                    <div data-role="fieldcontain">
                        <label>Chq no./dd: </label>
                        <label id="chqueData">-</label>

                    </div>
                </div>
                <br>
                <label id="sum-amount-label">All Amount: 0 Baht</label>

                <div id="PurchaseSessionShowTable">

                </div>
            </div> -->


            <div class="PurchaseSessionShowResult">
                
                <script type="text/template" class="PurchaseSessionShowResult-template">
                    <br>
                    <hr>
                    <br />
               
                    <div data-role="fieldcontain">
                        <label>Purchase ID:</label>
                        <!-- <label id="SesseionId">0</label> -->
                        <label><%- sessionId %></label>
    
                    </div>
                    <div data-role="fieldcontain">
                        <label>Payment Type:</label>
                        <label ><%- payment_type %></label>                 
                    </div>
                    <div data-role="fieldcontain">
                        <label>By:</label>
                        <label><%- userId %></label>    
                    </div>

                      <div data-role="fieldcontain">
                        <label>Date:</label>
                        <label><%- in_date %></label>    
                    </div>
                    <div class="PettyCashForm">
    
                        <div data-role="fieldcontain">
                            <label >B/F: <%- BF %></label>
                            <label  >Balance: <%- balance %></label>
                            <!--    <input type="text" data-wrapper-class="moneyAmount" id="BF" disabled="disabled" data-mini="true" value="0" />
                            <label for="BF">Balance: </label>
                            <input type="text" data-wrapper-class="moneyAmount" id="Text1" disabled="disabled" data-mini="true" value="0" />-->
                        </div>

                        <div data-role="fieldcontain">
                            <label>Adding Money: </label>
                            <label><%- moneyAddAmount %></label>
    
                        </div>
                        <div data-role="fieldcontain">
                            <label>Chq no./dd: </label>
                            <label><%- chqueData %></label>
    
                        </div>
                    </div>
                    <br>
                    <label>All Amount: <%- sumAmount %> Baht</label>

                    <div class="PurchaseSessionShowTable"></div>
                </script>
            </div>

        </div>
        <!-- /content -->

    </div>
    <!-- /footer -->

    </div>
    <!-- /page -->


</body>

</html>