<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script>
        window.location.href = "index.html";
    </script>
</head>
<body>

    <div data-role="page" data-title="Supplier" class="jqm-demos ui-responsive-panel">

        <div data-role="header" data-position="fixed" data-theme="a">
            <!-- <a href="../toolbar/" data-rel="back" class="ui-btn ui-btn-left ui-alt-icon ui-nodisc-icon ui-corner-all ui-btn-icon-notext ui-icon-carat-l">Back</a>-->

            <h1>Products</h1>
            <a class="menu" data-icon="grid" data-iconpos="notext">Menu</a>
            <a class="setting" data-icon="gear" data-iconpos="notext">Add</a>

            <div data-role="navbar">
                <ul>
                    <li><a data-value="createSupplier" class="ui-btn-active">Create</a></li>
                    <li><a data-value="editSupplier">Edit</a></li>

                </ul>
            </div>
            <!-- /navbar -->

            <!--  <form> 
            <label for="searchbar" class="ui-hidden-accessible">Search:</label>
            <input type="search" name="searchbar" id="search1" value="" data-theme="d" data-mini="true" />
        </form>-->
        </div>


        <!-- /header -->
        <div role="main" id="main" class="ui-content jqm-content jqm-fullwidth">

            <!--     <select name="select-stock" class="select-stock" data-mini="true" data-native-menu="true">
            </select>-->

            <div id="createSupplier" class="Nav">

                <div class="ui-grid-a ui-responsive">
                    <div class="ui-block-a">
                        <div>
                            <input type="text" id="chooseFileName" disabled="disabled" data-mini="true" value="No file select" />
                            <button class="ui-btn ui-icon-arrow-u ui-btn-icon-left  ui-corner-all" id="chooseFileButton" data-mini="true">Upload File</button>

                            <input id="chooseFileInput" type="file" style="display: none;" />
                        </div>
                    </div>

                    <div class="ui-block-b">
                        <div id="dropFileInput">Drop an XLSX / XLSM / XLSB / ODS / XLS / XML file here to import sheet data</div>

                    </div>

                </div>
                <table id="CreateTable" class="StockTable" border="0">
                    <col width="80px" />
                    <col />
                    <col width="100px" />
                    <tbody>
                        <tr>
                            <th>Code</th>
                            <th>SupplierName</th>
                            <th>Credit</th>
                            <th>Address</th>
                        </tr>
                        <script type="text/template" id="CreateTable-tr-template">

                            <td>
                                <input placeholder="Code" data-type="code" value="<%- code %>" /></td>
                            <td>
                                <input placeholder="SupplierName" data-type="name" value="<%- name %>" /></td>
                            <td>
                                <input placeholder="Credit" data-type="credit" value="<%- credit %>" /></td>
                            <td>
                                <input placeholder="Address" data-type="credit" value="<%- address %>" /></td>

                        </script>

                        <!--  <td><input placeholder="ชื่อผู้ขาย" data-type="supplier_default" value="<%- supplier_name_default %>" /></td>
                            <td><input placeholder="ขนาด" data-type="unit_type" value="<%- unit_size %>" /></td>
                              <td><input placeholder="ราคา" data-type="unit_price_default" value="<%- unit_price_default %>" /></td>-->


                        <!-- <tr class="CreateStockTable-tr">
                                <td>
                                    <input placeholder="Code" value="" /></td>
                                <td>
                                    <input placeholder="SupplierName" value="" /></td>
                                <td>
                                    <input placeholder="หน่วย" value="" /></td>
                                <td>
                                    <input placeholder="รายละเอียด" value="" /></td>
                            </tr>-->
                    </tbody>
                </table>
                <hr />
                <!--<input type="button" class="CreateNewProductRow" value="เพิ่มสินค้า">-->


                <!-- <input type="button" class="ClearNewProductRow" value="Clear Table">
                    <input type="button" class="SaveNewProductRows" value="บันทึกรายการสินค้า">-->

                <button class="ClearNewCreateRow ui-btn ui-icon-delete ui-btn-icon-left  ui-corner-all" data-mini="true">Clear Table</button>
                <button class="SaveNewCreateRows ui-btn ui-icon-action ui-btn-icon-left  ui-corner-all">Save</button>

            </div>

            <div id="editSupplier" style="display: none" class="Nav">
                 <!--<input type="search" data-theme="a" name="searchbar" class="show_product_search" data-mini="true" value="" placeholder="search by code or description" data-inline="true">-->
                <input type="search" data-theme="a" name="searchbar" class="edit_search" data-mini="true" value="" placeholder="search by code or name" data-inline="true">
                <button class="ui-btn ui-icon-arrow-d ui-btn-icon-left  ui-corner-all" id="downLoadFile">Download File Exel</button>

                <table id="fooBar" class="StockTable" border="0" style='text-align: justify;'>
                    <col width="80px" />
                    <col />
                    <col width="100px" />
                    <col />
                    <col width="50px" />
                    <col width="50px" />
                    <tbody>
                        <tr>
                            <th>Code</th>
                            <th>SupplierName</th>
                            <th>Credit</th>
                            <th>Address</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <script type="text/template" id="ShowStockTable-tr-template">

                            <td style="padding: 9px 4px;"><%- code %></td>
                            <td style="padding: 9px 4px;"><%- name %></td>
                            <td style="padding: 9px 4px;"><%- credit %></td>
                            <td style="padding: 9px 4px;"><%- address %></td>

                            <td>
                                <input type="button" class="editButton" data-mini="true" value="Edit"></td>
                            <td>
                                <input type="button" class="deleteButton" data-mini="true" value="Delete">
                            </td>
                        </script>
                        <script type="text/template" id="EditStockTable-tr-template">

                            <td style="padding: 9px 4px;"><%- code %></td>
                            <td>
                                <input placeholder="SupplierName" data-type="name" value="<%- name %>" /></td>
                            <td>
                                <input placeholder="Credit" data-type="credit" value="<%- credit %>" /></td>
                            <td>
                                <input placeholder="Address" data-type="address" value="<%- address %>" /></td>

                            <td>
                                <input type="button" class="cancelEditButton" data-mini="true" value="Cancel"></td>
                            <td>
                                <input type="button" class="saveButton" data-mini="true" value="Save">
                            </td>

                        </script>

                    </tbody>
                </table>
            </div>

        </div>
        <!-- /content -->

        <div data-role="panel" data-display="push" data-theme="b" class="menu-panel">
            <h2><a href="index.html" data-transition="flow">HOME</a></h2>

            <ul data-role="listview">
              
                <li>
                    <a href="Supplier.html" data-menu="Supplier"  data-transition="flow">Supplier-Create</a>
                </li>

                <li>
                    <a href="Stock.html" data-menu="Stock" data-transition="flow">Stock-Create</a>
                </li>
                <li>
                    <a href="OE.html" data-menu="OE" data-transition="flow">OE-Create</a>
                </li>


                <li>
                    <a href="ImportProducts.html" data-menu="Stock-In" data-transition="flow">Stock-In</a>
                </li>
                <li>
                    <a href="ImportOE.html" data-menu="OE-In" data-transition="flow">OE-In</a>
                </li>

                <li>
                    <a href="ImportProductsPettyCash.html" data-menu="Stock-In (PettyCash)" data-transition="flow">Stock-In (PettyCash)</a>
                </li>
                <li>
                    <a href="ImportOEPettyCash.html" data-menu="OE-In (PettyCash)" data-transition="flow">OE-In (PettyCash)</a>
                </li>
                <li>
                    <a href="ExportProducts.html" data-menu="Stock-Out" data-transition="flow">Stock-Out</a>
                </li>
                <li>
                    <a href="CheckProducts.html" data-menu="Stock-Checking" data-transition="flow">Stock-Checking</a>
                </li>
                <li>
                    <a href="Report.html" data-menu="Report" data-transition="flow">Report</a>
                </li>
            </ul>


        </div>
        <!-- /panel -->

         <div data-role="panel" data-position="right" data-display="reveal" data-theme="a" class="setting-panel">

            <button class="LogInButton">Log In</button>
            <button class="LogOutButton">Log Out</button>
              <button class="SettingButton">Setting</button>

        </div>
        <!-- /panel -->

       <!-- <div data-role="footer" data-position="fixed" data-tap-toggle="false" data-theme="b">
            <div data-role="navbar">
                <ul>
                    <li>
                        <a href="Supplier.html" data-transition="flow" class="ui-btn-active">Supplier</a>
                    </li>
                    <li>
                        <a href="Products.html" data-transition="flow">Product</a>
                    </li>
                    <li>
                        <a href="ImportProducts.html" data-transition="flow">Stock-In</a>
                    </li>
                    <li>
                        <a href="ExportProducts.html" data-transition="flow">Stock-Out</a>
                    </li>
                    <li>
                        <a href="CheckProducts.html" data-transition="flow">Stock-Checking</a>
                    </li>
                    <li>
                        <a href="Report.html" data-transition="flow">Report</a>
                    </li>
                </ul>
            </div>
        </div>-->
        <!-- /footer -->

        <div data-role="popup" id="sure" data-title="Are you sure?">
            <div data-role="content">
                <h3 class="sure-1">???</h3>
                <p class="sure-2">???</p>
                <a href="#" class="sure-do" data-role="button" data-theme="b" data-rel="back">Yes</a>
                <a href="#" data-role="button" data-theme="c" data-rel="back">Cancel</a>
            </div>
        </div>

    </div>
    <!-- /page -->


    <div data-role="page" id="p1">

        <div data-role="header">
            <h1>Landing page</h1>
        </div>
        <!-- /header -->

        <div role="main" class="ui-content jqm-content">

            <p>This is just a landing page.</p>

            <a href="#panel-responsive-page1" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini ui-icon-back ui-btn-icon-left">Back</a>

        </div>
        <!-- /content -->

    </div>
    <!-- /page -->



</body>
</html>
